<!DOCTYPE html>
<html>
<head>
  <title>Tagatter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="<%= controller.controller_name %>">

  <div id="banner"> 
    <h1><%= link_to "Tagatter", :root %></h1>
  </div>

  <div id="column">
    <div id="side">
      <% if user_signed_in? %>
      <p><%= current_user.username %></p>
      <p><%= link_to "ログアウト", destroy_user_session_path %></p>
      <p><%= link_to "変更", edit_user_registration_path(current_user) %></p>
      <% else %>
      <p><%= link_to "ログイン", new_user_session_path %></p>
      <p><%= link_to "ユーザー登録", new_user_registration_path %></p>
      <p><%= link_to "パスワード再発行", new_user_password_path %></p>
      <% end %>
    </div>

    <div id="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

</body>
</html>
