<!DOCTYPE html>
<html>
<head>
  <title>Tagatter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="<%= controller.controller_name %>">

  <div id="top-menu">
    <ul>
      <% if user_signed_in? %>
      <li>ログイン中：<%= current_user.username %></li>
      <li><%= link_to "個人設定", edit_user_registration_path(current_user) %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="banner">
    <h1><%= link_to "Tagatter", :root %></h1>
  </div>

  <div id="body">
    <div id="column">
      <div id="side">
        <p>暇を持て余すサイドバー！</p>
        <p><%= link_to image_tag('/images/atom16.png', {:border => '0'}),
                       {:controller => "messages", :action => "index", :format => :atom} %></p>
      </div>

      <div id="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
