<!DOCTYPE html>
<html>
<head>
  <title>Tagatter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body class="<%= controller.controller_name %>">

  <div id="top-menu">
    <ul>
      <% if user_signed_in? %>
      <li>ログイン中：<%= current_user.username %></li>
      <li><%= link_to "個人設定", edit_user_registration_path(current_user) %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="banner">
    <h1><%= link_to "Tagatter", :root %></h1>
  </div>

  <div id="column">
    <div id="side">
      持て余すサイドバー！
    </div>

    <div id="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

</body>
</html>
